@font-face {
  font-family: 'rymo_shop';
  src:  url('fonts/rymo_shop.eot?qynrit');
  src:  url('fonts/rymo_shop.eot?qynrit#iefix') format('embedded-opentype'),
    url('fonts/rymo_shop.ttf?qynrit') format('truetype'),
    url('fonts/rymo_shop.woff?qynrit') format('woff'),
    url('fonts/rymo_shop.svg?qynrit#rymo_shop') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rymo_shop' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_star:before {
  content: "\e903";
}
.ic_bars:before {
  content: "\e902";
}
.ic_search:before {
  content: "\e900";
}
.ic_shopping-basket:before {
  content: "\e901";
}
