@font-face {
  font-family: 'rymo_shop';
  src:  url('fonts/rymo_shop.eot?j4cnes');
  src:  url('fonts/rymo_shop.eot?j4cnes#iefix') format('embedded-opentype'),
    url('fonts/rymo_shop.ttf?j4cnes') format('truetype'),
    url('fonts/rymo_shop.woff?j4cnes') format('woff'),
    url('fonts/rymo_shop.svg?j4cnes#rymo_shop') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic_"], [class*=" ic_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rymo_shop' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_bars:before {
  content: "\e902";
}
.ic_search:before {
  content: "\e900";
}
.ic_shopping-basket:before {
  content: "\e901";
}
